<span style="font-family : Courier;color: #0066CC;">
<ol type="1">  
</li>  <li> jeg 496343
 </li>  <li> det 476035
 </li>  <li> er 460695
 </li>  <li> du 395083
 </li>  <li> ikke 276602
 </li>  <li> en 197719
 </li>  <li> og 187618
 </li>  <li> i 185111
 </li>  <li> har 177919
 </li>  <li> vi 154330
 </li>  <li> på 149664
 </li>  <li> til 136586
 </li>  <li> med 124362
 </li>  <li> å 122677
 </li>  <li> han 119891
 </li>  <li> deg 119738
 </li>  <li> for 114975
 </li>  <li> meg 112863
 </li>  <li> hva 109780
 </li>  <li> at 106960
 </li>  <li> den 100312
 </li>  <li> så 99697
 </li>  <li> som 99634
 </li>  <li> de 99498
 </li>  <li> kan 96089
 </li>  <li> var 84387
 </li>  <li> vil 82941
 </li>  <li> av 73240
 </li>  <li> skal 71461
 </li>  <li> om 70916
 </li>  <li> men 65769
 </li>  <li> et 63626
 </li>  <li> her 63495
 </li>  <li> ja 60388
 </li>  <li> bare 53962
 </li>  <li> dere 49314
 </li>  <li> hun 48517
 </li>  <li> må 47507
 </li>  <li> noe 47271
 </li>  <li> ham 46189
 </li>  <li> dette 45711
 </li>  <li> nei 45426
 </li>  <li> nå 44853
 </li>  <li> kom 44852
 </li>  <li> min 44384
 </li>  <li> vet 42650
 </li>  <li> der 42513
 </li>  <li> din 40330
 </li>  <li> ut 39503
 </li>  <li> hvor 37808
 </li>  <li> da 37205
 </li>  <li> fra 35081
 </li>  <li> oss 34574
 </li>  <li> se 33520
 </li>  <li> være 33270
 </li>  <li> ha 33249
 </li>  <li> dem 33187
 </li>  <li> gjør 31171
 </li>  <li> igjen 28493
 </li>  <li> noen 28266
 </li>  <li> kommer 28211
 </li>  <li> ta 28171
 </li>  <li> ville 28044
 </li>  <li> hvis 27544
 </li>  <li> alle 26649
 </li>  <li> få 25508
 </li>  <li> hvorfor 25454
 </li>  <li> tror 25314
 </li>  <li> går 25091
 </li>  <li> alt 24923
 </li>  <li> opp 24921
 </li>  <li> sa 24791
 </li>  <li> hvordan 24605
 </li>  <li> gå 23268
 </li>  <li> ingen 23190
 </li>  <li> når 22292
 </li>  <li> eller 21796
 </li>  <li> hvem 21753
 </li>  <li> får 21718
 </li>  <li> seg 21687
 </li>  <li> la 21528
 </li>  <li> blir 21429
 </li>  <li> ser 21404
 </li>  <li> takk 21274
 </li>  <li> gjøre 20788
 </li>  <li> bli 20241
 </li>  <li> bra 20121
 </li>  <li> hadde 20054
 </li>  <li> si 20035
 </li>  <li> denne 19374
 </li>  <li> henne 19097
 </li>  <li> litt 18761
 </li>  <li> inn 18591
 </li>  <li> jo 18029
 </li>  <li> etter 17448
 </li>  <li> kunne 17430
 </li>  <li> vel 17427
 </li>  <li> to 17206
 </li>  <li> skulle 16764
 </li>  <li> ved 16722
 </li>  <li> aldri 16372
 </li>  <li> hei 16104
 </li>  <li> over 15844
 </li>  <li> e 15837
 </li>  <li> god 15800
 </li>  <li> tilbake 15659
 </li>  <li> kanskje 15327
 </li>  <li> man 15276
 </li>  <li> også 14894
 </li>  <li> ble 14824
 </li>  <li> nok 14785
 </li>  <li> sier 14659
 </li>  <li> selv 14578
 </li>  <li> hvad 14573
 </li>  <li> før 14189
 </li>  <li> godt 13986
 </li>  <li> ok 13887
 </li>  <li> sammen 13850
 </li>  <li> ned 13740
 </li>  <li> mig 13720
 </li>  <li> gi 13636
 </li>  <li> dig 13614
 </li>  <li> hans 13604
 </li>  <li> gang 13580
 </li>  <li> dag 13134
 </li>  <li> tar 13099
 </li>  <li> mer 12970
 </li>  <li> trenger 12870
 </li>  <li> mine 12677
 </li>  <li> vært 12558
 </li>  <li> mitt 12523
 </li>  <li> mye 12075
 </li>  <li> helt 11850
 </li>  <li> andre 11678
 </li>  <li> sett 11658
 </li>  <li> vær 11529
 </li>  <li> gjorde 11523
 </li>  <li> hele 11092
 </li>  <li> siden 10908
 </li>  <li> komme 10774
 </li>  <li> enn 10694
 </li>  <li> deres 10661
 </li>  <li> år 10615
 </li>  <li> ditt 10509
 </li>  <li> mann 10408
 </li>  <li> hold 10397
 </li>  <li> mr 10357
 </li>  <li> af 9746
 </li>  <li> mener 9692
 </li>  <li> fikk 9686
 </li>  <li> mot 9621
 </li>  <li> vent 9451
 </li>  <li> dine 9434
 </li>  <li> far 9434
 </li>  <li> a 9410
 </li>  <li> fordi 9366
 </li>  <li> faen 9290
 </li>  <li> mange 9218
 </li>  <li> snakke 9111
 </li>  <li> tre 9043
 </li>  <li> hjem 9022
 </li>  <li> ting 9021
 </li>  <li> gjort 8935
 </li>  <li> liker 8820
 </li>  <li> sant 8669
 </li>  <li> folk 8541
 </li>  <li> greit 8377
 </li>  <li> lkke 8359
 </li>  <li> alltid 8330
 </li>  <li> rett 8263
 </li>  <li> sånn 8211
 </li>  <li> tid 8161
 </li>  <li> dra 8125
 </li>  <li> unnskyld 7914
 </li>  <li> morgen 7900
 </li>  <li> sir 7890
 </li>  <li> virkelig 7602
 </li>  <li> elsker 7550
 </li>  <li> bedre 7313
 </li>  <li> pa 7241
 </li>  <li> veldig 7126
 </li>  <li> nu 7107
 </li>  <li> tok 7088
 </li>  <li> hit 7075
 </li>  <li> vår 6968
 </li>  <li> uten 6937
 </li>  <li> mor 6828
 </li>  <li> står 6774
 </li>  <li> kveld 6749
 </li>  <li> død 6736
 </li>  <li> burde 6716
 </li>  <li> snakker 6622
 </li>  <li> livet 6604
 </li>  <li> finne 6496
 </li>  <li> gikk 6484
 </li>  <li> sin 6463
 </li>  <li> gud 6463
 </li>  <li> beklager 6459
 </li>  <li> nej 6456
 </li>  <li> trodde 6414
 </li>  <li> ingenting 6413
 </li>  <li> hør 6388
 </li>  <li> akkurat 6370
 </li>  <li> kjenner 6331
 </li>  <li> første 6300
 </li>  <li> sted 6223
 </li>  <li> disse 6191
 </li>  <li> ute 6166
 </li>  <li> slik 6100
 </li>  <li> samme 6080
 </li>  <li> klar 5951
 </li>  <li> lenge 5938
 </li>  <li> hjelpe 5854
 </li>  <li> fint 5841
 </li>  <li> visste 5814
 </li>  <li> vite 5798
 </li>  <li> forstår 5792
 </li>  <li> under 5680
 </li>  <li> noget 5667
 </li>  <li> hjelp 5653
 </li>  <li> skjer 5639
 </li>  <li> okay 5573
 </li>  <li> gir 5558
 </li>  <li> eneste 5508
 </li>  <li> heter 5486
 </li>  <li> holder 5394
 </li>  <li> bilen 5392
 </li>  <li> hallo 5376
 </li>  <li> vei 5263
 </li>  <li> veien 5249
 </li>  <li> penger 5205
 </li>  <li> siste 5202
 </li>  <li> pappa 5193
 </li>  <li> barn 5192
 </li>  <li> rundt 5152
 </li>  <li> én 5148
 </li>  <li> snill 5123
 </li>  <li> tro 5115
 </li>  <li> snart 5114
 </li>  <li> liv 5111
 </li>  <li> høre 5108
 </li>  <li> hver 5099
 </li>  <li> verden 5099
 </li>  <li> tak 5051
 </li>  <li> feil 4974
 </li>  <li> hører 4973
 </li>  <li> redd 4950
 </li>  <li> blitt 4947
 </li>  <li> helvete 4934
 </li>  <li> hos 4918
 </li>  <li> mamma 4904
 </li>  <li> stor 4859
 </li>  <li> lille 4832
 </li>  <li> dit 4828
 </li>  <li> døde 4828
 </li>  <li> holde 4818
 </li>  <li> herregud 4748
 </li>  <li> prøver 4713
 </li>  <li> visst 4681
 </li>  <li> venn 4681
 </li>  <li> heller 4669
 </li>  <li> beste 4667
 </li>  <li> husker 4646
 </li>  <li> borte 4630
 </li>  <li> hennes 4617
 </li>  <li> sikkert 4608
 </li>  <li> først 4597
 </li>  <li> bort 4595
 </li>  <li> drar 4522
 </li>  <li> like 4506
 </li>  <li> ga 4469
 </li>  <li> fem 4427
 </li>  <li> slutt 4420
 </li>  <li> tiden 4405
 </li>  <li> gjerne 4403
 </li>  <li> drepe 4401
 </li>  <li> fant 4392
 </li>  <li> ud 4392
 </li>  <li> store 4389
 </li>  <li> vekk 4346
 </li>  <li> fått 4330
 </li>  <li> inne 4295
 </li>  <li> sikker 4278
 </li>  <li> annet 4271
 </li>  <li> flere 4250
 </li>  <li> os 4248
 </li>  <li> tatt 4222
 </li>  <li> pengene 4149
 </li>  <li> glad 4105
 </li>  <li> hørte 4105
 </li>  <li> neste 4102
 </li>  <li> mannen 4086
 </li>  <li> menn 4083
 </li>  <li> våre 4076
 </li>  <li> finner 4075
 </li>  <li> orden 4071
 </li>  <li> navn 4056
 </li>  <li> gamle 4022
 </li>  <li> fortelle 4007
 </li>  <li> bør 4001
 </li>  <li> dø 3991
 </li>  <li> alene 3987
 </li>  <li> annen 3984
 </li>  <li> nye 3973
 </li>  <li> ellers 3952
 </li>  <li> venter 3946
 </li>  <li> synes 3934
 </li>  <li> sagt 3893
 </li>  <li> måtte 3890
 </li>  <li> l 3845
 </li>  <li> ny 3826
 </li>  <li> venner 3826
 </li>  <li> minutter 3821
 </li>  <li> liten 3803
 </li>  <li> skjedde 3802
 </li>  <li> betyr 3774
 </li>  <li> faren 3764
 </li>  <li> stille 3744
 </li>  <li> gutt 3735
 </li>  <li> derfor 3720
 </li>  <li> r 3708
 </li>  <li> have 3681
 </li>  <li> lenger 3664
 </li>  <li> lei 3660
 </li>  <li> byen 3660
 </li>  <li> s 3652
 </li>  <li> hatt 3641
 </li>  <li> gjennom 3611
 </li>  <li> natt 3609
 </li>  <li> langt 3609
 </li>  <li> klart 3607
 </li>  <li> kjære 3607
 </li>  <li> flott 3589
 </li>  <li> n 3587
 </li>  <li> ennå 3566
 </li>  <li> fire 3563
 </li>  <li> klarer 3554
 </li>  <li> par 3548
 </li>  <li> politiet 3536
 </li>  <li> hørt 3522
 </li>  <li> sitt 3510
 </li>  <li> unna 3496
 </li>  <li> herfra 3495
 </li>  <li> gør 3491
 </li>  <li> slå 3483
 </li>  <li> dollar 3482
 </li>  <li> hjemme 3472
 </li>  <li> fort 3448
 </li>  <li> engang 3442
 </li>  <li> gode 3426
 </li>  <li> føler 3422
 </li>  <li> senere 3407
 </li>  <li> skjønner 3400
 </li>  <li> dager 3396
 </li>  <li> dagen 3391
 </li>  <li> meget 3385
 </li>  <li> ett 3372
 </li>  <li> lige 3318
 </li>  <li> håper 3306
 </li>  <li> ti 3280
 </li>  <li> faktisk 3273
 </li>  <li> galt 3272
 </li>  <li> ganger 3263
 </li>  <li> pokker 3238
 </li>  <li> nesten 3218
 </li>  <li> tenkte 3209
 </li>  <li> hvilken 3175
 </li>  <li> be 3170
 </li>  <li> huset 3158
 </li>  <li> jobb 3150
 </li>  <li> klare 3145
 </li>  <li> bak 3145
 </li>  <li> snakket 3143
 </li>  <li> begge 3124
 </li>  <li> vise 3122
 </li>  <li> slags 3107
 </li>  <li> mens 3107
 </li>  <li> fyr 3097
 </li>  <li> ferdig 3097
 </li>  <li> rolig 3092
 </li>  <li> hodet 3086
 </li>  <li> tenk 3045
 </li>  <li> tii 3044
 </li>  <li> d 3033
 </li>  <li> lad 3022
 </li>  <li> op 3014
 </li>  <li> virker 3004
 </li>  <li> ei 3004
 </li>  <li> jævla 2993
 </li>  <li> ringer 2976
 </li>  <li> hverandre 2969
 </li>  <li> kommet 2963
 </li>  <li> skyld 2963
 </li>  <li> stedet 2958
 </li>  <li> jobben 2949
 </li>  <li> sine 2934
 </li>  <li> bor 2929
 </li>  <li> gammel 2921
 </li>  <li> prøve 2920
 </li>  <li> hyggelig 2906
 </li>  <li> dårlig 2886
 </li>  <li> drept 2865
 </li>  <li> ord 2856
 </li>  <li> vårt 2850
 </li>  <li> helst 2836
 </li>  <li> tenker 2835
 </li>  <li> kvinne 2835
 </li>  <li> dr 2832
 </li>  <li> allerede 2831
 </li>  <li> begynner 2830
 </li>  <li> g 2830
 </li>  <li> mennesker 2821
 </li>  <li> jobber 2819
 </li>  <li> ligger 2818
 </li>  <li> ønsker 2816
 </li>  <li> dør 2815
 </li>  <li> kun 2808
 </li>  <li> grunn 2806
 </li>  <li> stå 2775
 </li>  <li> stopp 2768
 </li>  <li> fortell 2759
 </li>  <li> gøre 2723
 </li>  <li> kone 2720
 </li>  <li> øyeblikk 2717
 </li>  <li> john 2717
 </li>  <li> hende 2713
 </li>  <li> slipp 2704
 </li>  <li> spiller 2700
 </li>  <li> velkommen 2699
 </li>  <li> del 2667
 </li>  <li> jente 2665
 </li>  <li> drepte 2665
 </li>  <li> tenkt 2659
 </li>  <li> riktig 2658
 </li>  <li> spise 2647
 </li>  <li> vente 2647
 </li>  <li> seks 2632
 </li>  <li> egen 2623
 </li>  <li> fortsatt 2620
 </li>  <li> glem 2619
 </li>  <li> ganske 2614
 </li>  <li> ses 2610
 </li>  <li> møte 2604
 </li>  <li> åh 2598
 </li>  <li> slapp 2598
 </li>  <li> t 2596
 </li>  <li> mi 2594
 </li>  <li> fin 2592
 </li>  <li> funnet 2584
 </li>  <li> sånt 2582
 </li>  <li> nede 2580
 </li>  <li> gutten 2578
 </li>  <li> jack 2578
 </li>  <li> nettopp 2577
 </li>  <li> fyren 2571
 </li>  <li> stemmer 2568
 </li>  <li> timer 2567
 </li>  <li> sønn 2564
 </li>  <li> herr 2562
 </li>  <li> gutter 2553
 </li>  <li> spør 2551
 </li>  <li> selvfølgelig 2541
 </li>  <li> di 2530
 </li>  <li> mistet 2515
 </li>  <li> leve 2504
 </li>  <li> oppe 2500
 </li>  <li> spille 2496
 </li>  <li> miss 2492
 </li>  <li> sig 2492
 </li>  <li> kaptein 2490
 </li>  <li> sent 2482
 </li>  <li> new 2471
 </li>  <li> legg 2458
 </li>  <li> sitter 2456
 </li>  <li> tenke 2455
 </li>  <li> all 2448
 </li>  <li> jenta 2446
 </li>  <li> gått 2432
 </li>  <li> lett 2432
 </li>  <li> ring 2403
 </li>  <li> familien 2398
 </li>  <li> pass 2393
 </li>  <li> lang 2387
 </li>  <li> måte 2386
 </li>  <li> bil 2384
 </li>  <li> ringe 2367
 </li>  <li> vanskelig 2366
 </li>  <li> ro 2361
 </li>  <li> saken 2360
 </li>  <li> kjeft 2357
 </li>  <li> lever 2341
 </li>  <li> moren 2339
 </li>  <li> videre 2334
 </li>  <li> problemer 2331
 </li>  <li> viktig 2327
 </li>  <li> ber 2320
 </li>  <li> mat 2314
 </li>  <li> nytt 2301
 </li>  <li> full 2295
 </li>  <li> problem 2285
 </li>  <li> mrs 2279
 </li>  <li> fortalte 2278
 </li>  <li> tur 2270
 </li>  <li> fast 2267
 </li>  <li> treffe 2256
 </li>  <li> ba 2254
 </li>  <li> best 2253
 </li>  <li> stort 2253
 </li>  <li> fred 2252
 </li>  <li> bruke 2235
 </li>  <li> prøv 2234
 </li>  <li> mellom 2231
 </li>  <li> syns 2213
 </li>  <li> fram 2208
 </li>  <li> hus 2203
 </li>  <li> tom 2201
 </li>  <li> bliver 2195
 </li>  <li> fantastisk 2190
 </li>  <li> redde 2182
 </li>  <li> hej 2180
 </li>  <li> side 2179
 </li>  <li> setter 2178
 </li>  <li> dreper 2175
 </li>  <li> hente 2174
 </li>  <li> dro 2162
 </li>  <li> kjører 2156
 </li>  <li> fri 2150
 </li>  <li> ma 2124
 </li>  <li> forsiktig 2123
 </li>  <li> navnet 2105
 </li>  <li> uansett 2098
 </li>  <li> holdt 2098
 </li>  <li> fly 2094
 </li>  <li> satt 2092
 </li>  <li> j 2092
 </li>  <li> utrolig 2091
 </li>  <li> resten 2089
 </li>  <li> straks 2085
 </li>  <li> sette 2084
 </li>  <li> gal 2082
 </li>  <li> kaller 2078
 </li>  <li> unge 2078
 </li>  <li> egentlig 2068
 </li>  <li> tusen 2068
 </li>  <li> åpne 2063
 </li>  <li> imot 2059
 </li>  <li> na 2045
 </li>  <li> mest 2042
 </li>  <li> havde 2042
 </li>  <li> sagde 2042
 </li>  <li> fremdeles 2040
 </li>  <li> hater 2039
 </li>  <li> tilbage 2034
 </li>  <li> vann 2029
 </li>  <li> kjøre 2029
 </li>  <li> familie 2025
 </li>  <li> kvinner 2022
 </li>  <li> utenfor 2019
 </li>  <li> hvert 2017
 </li>  <li> skolen 2011
 </li>  <li> landet 2011
 </li>  <li> spørsmål 2009
 </li>  <li> skjedd 2004
 </li>  <li> prøvde 1994
 </li>  <li> gift 1992
 </li>  <li> efter 1988
 </li>  <li> the 1982
 </li>  <li> mit 1980
 </li>  <li> bror 1979
 </li>  <li> herrer 1977
 </li>  <li> øynene 1976
 </li>  <li> altså 1971
 </li>  <li> skje 1971
 </li>  <li> driver 1970
 </li>  <li> plass 1969
 </li>  <li> nødt 1963
 </li>  <li> mulig 1962
 </li>  <li> foran 1950
 </li>  <li> enda 1949
 </li>  <li> mere 1944
 </li>  <li> løp 1941
 </li>  <li> uke 1937
 </li>  <li> damer 1936
 </li>  <li> finnes 1931
 </li>  <li> gangen 1926
 </li>  <li> lar 1921
 </li>  <li> kona 1920
 </li>  <li> time 1917
 </li>  <li> dritt 1912
 </li>  <li> mindre 1907
 </li>  <li> ønske 1905
 </li>  <li> rommet 1904
 </li>  <li> vis 1901
 </li>  <li> lyst 1900
 </li>  <li> snakk 1890
 </li>  <li> lngen 1887
 </li>  <li> lite 1879
 </li>  <li> lære 1873
 </li>  <li> bruker 1872
 </li>  <li> spørre 1869
 </li>  <li> sjanse 1867
 </li>  <li> vondt 1864
 </li>  <li> måske 1862
 </li>  <li> ind 1852
 </li>  <li> lidt 1847
 </li>  <li> an 1846
 </li>  <li> lykke 1827
 </li>  <li> nogen 1825
 </li>  <li> aldrig 1812
 </li>  <li> idiot 1810
 </li>  <li> nummer 1809
 </li>  <li> sove 1806
 </li>  <li> fins 1803
 </li>  <li> betale 1800
 </li>  <li> lov 1797
 </li>  <li> land 1797
 </li>  <li> selvsagt 1793
 </li>  <li> passer 1793
 </li>  <li> dum 1791
 </li>  <li> siger 1785
 </li>  <li> venstre 1777
 </li>  <li> rom 1769
 </li>  <li> lover 1766
 </li>  <li> idé 1761
 </li>  <li> vii 1760
 </li>  <li> farvel 1752
 </li>  <li> begynte 1752
 </li>  <li> hendene 1748
 </li>  <li> været 1746
 </li>  <li> ringte 1745
 </li>  <li> svært 1741
 </li>  <li> skai 1741
 </li>  <li> ventet 1741
 </li>  <li> huske 1740
 </li>  <li> kjent 1737
 </li>  <li> høres 1734
 </li>  <li> lage 1733
 </li>  <li> m 1726
 </li>  <li> york 1710
 </li>  <li> historie 1706
 </li>  <li> perfekt 1706
 </li>  <li> måneder 1698
 </li>  <li> frank 1697
 </li>  <li> små 1688
 </li>  <li> skrive 1684
 </li>  <li> sådan 1674
 </li>  <li> reise 1671
 </li>  <li> spiser 1667
 </li>  <li> gitt 1665
 </li>  <li> mand 1665
 </li>  <li> ekte 1663
 </li>  <li> mente 1657
 </li>  <li> husk 1656
 </li>  <li> laget 1656
 </li>  <li> fortsett 1655
 </li>  <li> våpen 1653
 </li>  <li> michael 1652
 </li>  <li> kjør 1648
 </li>  <li> kjøpe 1634
 </li>  <li> jobbet 1630
 </li>  <li> slår 1628
 </li>  <li> svar 1627
 </li>  <li> herre 1627
 </li>  <li> hent 1627
 </li>  <li> aner 1619
 </li>  <li> finn 1615
 </li>  <li> vores 1611
 </li>  <li> tidlig 1606
 </li>  <li> gifte 1606
 </li>  <li> synd 1603
 </li>  <li> igen 1600
 </li>  <li> bryr 1599
 </li>  <li> stoppe 1598
 </li>  <li> jer 1598
 </li>  <li> ø 1597
 </li>  <li> kjærlighet 1591
 </li>  <li> sender 1580
 </li>  <li> skynd 1578
 </li>  <li> fortalt 1571
 </li>  <li> masse 1570
 </li>  <li> bruk 1568
 </li>  <li> hånd 1566
 </li>  <li> by 1563
 </li>  <li> blod 1560
 </li>  <li> kort 1559
 </li>  <li> viser 1553
 </li>  <li> sannheten 1552
 </li>  <li> rart 1547
 </li>  <li> kaffe 1544
 </li>  <li> morsomt 1542
 </li>  <li> hjelper 1539
 </li>  <li> uker 1534
 </li>  <li> millioner 1534
 </li>  <li> middag 1533
 </li>  <li> jobbe 1532
 </li>  <li> ung 1529
 </li>  <li> stund 1529
 </li>  <li> vennen 1525
 </li>  <li> barna 1523
 </li>  <li> lager 1522
 </li>  <li> tv 1522
 </li>  <li> handler 1521
 </li>  <li> sitte 1518
 </li>  <li> hardt 1514
 </li>  <li> undskyld 1514
 </li>  <li> stadig 1512
 </li>  <li> david 1511
 </li>  <li> legge 1511
 </li>  <li> harry 1511
 </li>  <li> henter 1510
 </li>  <li> ben 1507
 </li>  <li> datter 1505
 </li>  <li> vakker 1504
 </li>  <li> george 1501
 </li>  <li> skyte 1498
 </li>  <li> kjente 1498
 </li>  <li> tide 1496
 </li>  <li> live 1493
 </li>  <li> skyt 1493
 </li>  <li> tale 1485
 </li>  <li> charlie 1475
 </li>  <li> valg 1471
 </li>  <li> foregår 1465
 </li>  <li> betaler 1465
 </li>  <li> likte 1464
 </li>  <li> skikkelig 1463
 </li>  <li> tager 1462
 </li>  <li> slo 1459
 </li>  <li> frem 1455
 </li>  <li> forstå 1445
 </li>  <li> døren 1443
 </li>  <li> jenter 1443
 </li>  <li> sam 1443
 </li>  <li> klokka 1441
 </li>  <li> høyre 1429
 </li>  <li> rør 1426
 </li>  <li> begynne 1425
 </li>  <li> elsket 1424
 </li>  <li> stikker 1424
 </li>  <li> sendte 1424
 </li>  <li> telefonen 1423
 </li>  <li> doktor 1422
 </li>  <li> lese 1415
 </li>  <li> følge 1408
 </li>  <li> general 1406
 </li>  <li> drink 1405
 </li>  <li> drikke 1405
 </li>  <li> gjelder 1401
 </li>  <li> krig 1401
 </li>  <li> bo 1399
 </li>  <li> blev 1395
 </li>  <li> hen 1391
 </li>  <li> søster 1388
 </li>  <li> jøss 1387
 </li>  <li> krigen 1386
 </li>  <li> fall 1381
 </li>  <li> sige 1381
 </li>  <li> fa 1375
 </li>  <li> verre 1368
 </li>  <li> sende 1368
 </li>  <li> tage 1368
 </li>  <li> syk 1361
 </li>  <li> ille 1360
 </li>  <li> skyter 1359
 </li>  <li> stikke 1350
 </li>  <li> skutt 1350
 </li>  <li> laver 1345
 </li>  <li> tjeneste 1343
 </li>  <li> sak 1343
 </li>  <li> klarte 1340
 </li>  <li> vare 1336
 </li>  <li> dame 1335
 </li>  <li> behøver 1335
 </li>  <li> døra 1335
 </li>  <li> sønnen 1330
 </li>  <li> farlig 1329
 </li>  <li> forteller 1328
 </li>  <li> broren 1326
 </li>  <li> særlig 1325
 </li>  <li> peter 1324
 </li>  <li> sist 1322
 </li>  <li> måten 1322
 </li>  <li> eget 1321
 </li>  <li> kl 1320
 </li>  <li> hvite 1319
 </li>  <li> blive 1319
 </li>  <li> svarte 1314
 </li>  <li> intet 1312
 </li>  <li> slipper 1310
 </li>  <li> gratulerer 1310
 </li>  <li> rette 1310
 </li>  <li> avtale 1308
 </li>  <li> likevel 1304
 </li>  <li> væk 1304
 </li>  <li> pris 1303
 </li>  <li> nær 1300
 </li>  <li> forbi 1299
 </li>  <li> følger 1296
 </li>  <li> fengsel 1296
 </li>  <li> sover 1293
 </li>  <li> onkel 1293
 </li>  <li> følg 1291
 </li>  <li> leter 1291
 </li>  <li> egne 1289
 </li>  <li> drittsekk 1287
 </li>  <li> natten 1286
 </li>  <li> føles 1283
 </li>  <li> bord 1281
 </li>  <li> klokken 1281
 </li>  <li> sex 1273
 </li>  <li> største 1270
 </li>  <li> flink 1269
 </li>  <li> problemet 1267
 </li>  <li> hjertet 1266
 </li>  <li> forklare 1265
 </li>  <li> nogle 1263
 </li>  <li> bekymret 1262
 </li>  <li> slåss 1261
 </li>  <li> guds 1260
 </li>  <li> slippe 1257
 </li>  <li> sint 1257
 </li>  <li> kamp 1255
 </li>  <li> åtte 1244
 </li>  <li> baby 1244
 </li>  <li> sekunder 1243
 </li>  <li> større 1242
 </li>  <li> skriver 1242
 </li>  <li> skjøt 1242
 </li>  <li> fanden 1238
 </li>  <li> nar 1237
 </li>  <li> ofte 1236
 </li>  <li> hjerte 1233
 </li>  <li> sto 1233
 </li>  <li> mike 1233
 </li>  <li> tag 1232
 </li>  <li> passe 1231
 </li>  <li> sendt 1231
 </li>  <li> vannet 1230
 </li>  <li> endelig 1230
 </li>  <li> skrev 1230
 </li>  <li> fare 1229
 </li>  <li> vant 1228
 </li>  <li> ærlig 1225
 </li>  <li> spurte 1224
 </li>  <li> skatt 1223
 </li>  <li> sjef 1222
 </li>  <li> enkelt 1222
 </li>  <li> dyr 1217
 </li>  <li> født 1216
 </li>  <li> glemte 1216
 </li>  <li> skylder 1216
 </li>  <li> nydelig 1215
 </li>  <li> spill 1212
 </li>  <li> stikk 1212
 </li>  <li> steder 1211
 </li>  <li> send 1207
 </li>  <li> falt 1205
 </li>  <li> end 1205
 </li>  <li> vinner 1204
 </li>  <li> ansiktet 1204
 </li>  <li> døden 1200
 </li>  <li> kutt 1199
 </li>  <li> slutte 1198
 </li>  <li> traff 1197
 </li>  <li> hr 1196
 </li>  <li> høyt 1193
 </li>  <li> ordre 1192
 </li>  <li> råd 1189
 </li>  <li> v 1189
 </li>  <li> menneske 1184
 </li>  <li> stolt 1182
 </li>  <li> reddet 1182
 </li>  <li> umulig 1181
 </li>  <li> tidligere 1180
 </li>  <li> sjekk 1180
 </li>  <li> lide 1178
 </li>  <li> skade 1178
 </li>  <li> verdens 1177
 </li>  <li> mister 1174
 </li>  <li> hvilket 1174
 </li>  <li> b 1174
 </li>  <li> meter 1173
 </li>  <li> kastet 1166
 </li>  <li> pent 1166
 </li>  <li> historien 1165
 </li>  <li> legger 1163
 </li>  <li> gar 1161
 </li>  <li> kvelden 1153
 </li>  <li> paul 1150
 </li>  <li> ni 1148
 </li>  <li> glemt 1147
 </li>  <li> elske 1147
 </li>  <li> beskjed 1141
 </li>  <li> leder 1140
 </li>  <li> sjefen 1140
 </li>  <li> overalt 1139
 </li>  <li> fik 1137
 </li>  <li> joe 1135
 </li>  <li> tog 1134
 </li>  <li> tingene 1132
 </li>  <li> glemme 1131
 </li>  <li> vinne 1128
 </li>  <li> hånden 1123
 </li>  <li> ordne 1122
 </li>  <li> verdt 1115
 </li>  <li> føle 1115
 </li>  <li> lykkelig 1115
 </li>  <li> svart 1114
 </li>  <li> f 1113
 </li>  <li> fest 1113
 </li>  <li> lukk 1110
 </li>  <li> flyet 1108
 </li>  <li> fortsette 1108
 </li>  <li> skaffe 1108
 </li>  <li> lot 1107
 </li>  <li> stole 1106
 </li>  <li> ræva 1106
 </li>  <li> øl 1103
 </li>  <li> lys 1101
 </li>  <li> dumme 1101
 </li>  <li> hund 1100
 </li>  <li> james 1099
 </li>  <li> søt 1096
 </li>  <li> plan 1096
 </li>  <li> fru 1096
 </li>  <li> h 1096
 </li>  <li> lurer 1091
 </li>  <li> person 1089
 </li>  <li> film 1088
 </li>  <li> midt 1087
 </li>  <li> barnet 1085
 </li>  <li> johnny 1079
 </li>  <li> hey 1074
 </li>  <li> ære 1073
 </li>  <li> aften 1073
 </li>  <li> forhold 1070
 </li>  <li> alvorlig 1070
 </li>  <li> lærer 1068
 </li>  <li> sju 1068
 </li>  <li> reiser 1065
 </li>  <li> lå 1065
 </li>  <li> kompis 1064
 </li>  <li> kontakt 1064
 </li>  <li> jimmy 1062
 </li>  <li> halv 1060
 </li>  <li> forelsket 1058
 </li>  <li> annerledes 1057
 </li>  <li> paris 1055
 </li>  <li> lege 1054
 </li>  <li> spesielt 1052
 </li>  <li> prate 1051
 </li>  <li> brukte 1051
 </li>  <li> flytte 1051
 </li>  <li> ønsket 1048
 </li>  <li> sulten 1046
 </li>  <li> kontoret 1046
 </li>  <li> sov 1045
 </li>  <li> mennene 1045
 </li>  <li> smart 1045
 </li>  <li> drøm 1043
 </li>  <li> pistolen 1039
 </li>  <li> skål 1038
 </li>  <li> ene 1033
 </li>  <li> beskytte 1032
 </li>  <li> brug 1030
 </li>  <li> løs 1024
 </li>  <li> forstått 1022
 </li>  <li> øye 1022
 </li>  <li> trengte 1021
 </li>  <li> miste 1019
 </li>  <li> gjor 1017
 </li>  <li> snu 1015
 </li>  <li> absolutt 1014
 </li>  <li> rolle 1013
 </li>  <li> amerika 1013
 </li>  <li> drep 1012
 </li>  <li> jaså 1012
 </li>  <li> satte 1011
 </li>  <li> danse 1009
 </li>  <li> frue 1005
 </li>  <li> levende 1004
 </li>  <li> lyver 1002
 </li>  <li> lyset 1001
 </li>  <li> vanlig 1000
 </li>  <li> noensinne 999
 </li>  <li> kaste 999
 </li>  <li> pen 994
 </li>  <li> filmen 994
 </li>  <li> jorden 993
 </li>  <li> hender 993
 </li>  <li> opptatt 990
 </li>  <li> jesus 990
 </li>  <li> savner 989
 </li>  <li> dessverre 989
 </li>  <li> anden 988
 </li>  <li> kampen 987
 </li>  <li> sprø 985
 </li>  <li> kyss 985
 </li>  <li> interessant 984
 </li>  <li> stoler 983
 </li>  <li> ryggen 982
 </li>  <li> kast 982
 </li>  <li> dumt 982
 </li>  <li> bob 981
 </li>  <li> skrevet 978
 </li>  <li> sterk 977
 </li>  <li> ligge 977
 </li>  <li> telefon 977
 </li>  <li> drikker 977
 </li>  <li> eier 976
 </li>  <li> maten 975
 </li>  <li> altid 975
 </li>  <li> foreldrene 974
 </li>  <li> plutselig 971
 </li>  <li> slikt 971
 </li>  <li> arbeid 970
 </li>  <li> lag 969
 </li>  <li> max 967
 </li>  <li> mening 962
 </li>  <li> stakkars 961
 </li>  <li> gøy 960
 </li>  <li> lurte 959
 </li>  <li> kaster 958
 </li>  <li> syntes 956
 </li>  <li> frøken 955
 </li>  <li> raskt 954
 </li>  <li> stans 953
 </li>  <li> vennene 952
 </li>  <li> øyne 951
 </li>  <li> skat 951
 </li>  <li> himmelen 949
 </li>  <li> kjørte 943
 </li>  <li> antar 943
 </li>  <li> oberst 938
 </li>  <li> ødelagt 937
 </li>  <li> kalle 936
 </li>  <li> vaere 936
 </li>  <li> ligner 935
 </li>  <li> skadet 934
 </li>  <li> bilde 934
 </li>  <li> heldig 932
 </li>  <li> advokat 928
 </li>  <li> håret 927
 </li>  <li> merkelig 922
 </li>  <li> professor 922
 </li>  <li> ray 922
 </li>  <li> agent 920
 </li>  <li> billy 920
 </li>  <li> kvinnen 919
 </li>  <li> lærte 919
 </li>  <li> konge 918
 </li>  <li> ødelegge 914
 </li>  <li> gave 914
 </li>  <li> hunden 914
 </li>  <li> kroppen 910
 </li>  <li> selge 909
 </li>  <li> planen 908
 </li>  <li> sykehuset 906
 </li>  <li> brukt 903
 </li>  <li> tilgi 903
 </li>  <li> trekk 902
 </li>  <li> møtt 899
 </li>  <li> jul 899
 </li>  <li> bill 899
 </li>  <li> deler 896
 </li>  <li> sjekke 896
 </li>  <li> hopp 896
 </li>  <li> sjansen 896
 </li>  <li> svin 894
 </li>  <li> london 894
 </li>  <li> lagt 892
 </li>  <li> folkens 891
 </li>  <li> toget 890
 </li>  <li> interessert 890
 </li>  <li> giv 885
 </li>  <li> lært 883
 </li>  <li> fleste 880
 </li>  <li> fine 879
 </li>  <li> omkring 879
 </li>  <li> kender 879
 </li>  <li> enig 878
 </li>  <li> danny 878
 </li>  <li> vakkert 877
 </li>  <li> finde 877
 </li>  <li> prøvd 876
 </li>  <li> savnet 875
 </li>  <li> greier 875
 </li>  <li> synge 874
 </li>  <li> munnen 874
 </li>  <li> personlig 871
 </li>  <li> flytt 868
 </li>  <li> kongen 866
 </li>  <li> blå 864
 </li>  <li> kult 864
 </li>  <li> herren 863
 </li>  <li> fanget 863
 </li>  <li> fortsetter 862
 </li>  <li> betalt 862
 </li>  <li> både 859
 </li>  <li> het 859
 </li>  <li> minste 858
 </li>  <li> kjæresten 858
 </li>  <li> gerne 856
 </li>  <li> tredje 855
 </li>  <li> båten 853
 </li>  <li> pistol 850
 </li>  <li> moro 848
 </li>  <li> spor 848
 </li>  <li> respekt 847
 </li>  <li> stjal 846
 </li>  <li> tuller 846
 </li>  <li> blant 843
 </li>  <li> brev 843
 </li>  <li> glede 842
 </li>  <li> dave 841
 </li>  <li> lik 840
 </li>  <li> etterpå 837
 </li>  <li> ret 837
 </li>  <li> kjøpte 836
 </li>  <li> nærmere 835
 </li>  <li> tjener 834
 </li>  <li> selger 831
 </li>  <li> sang 829
 </li>  <li> datteren 828
 </li>  <li> bestemt 826
 </li>  <li> talt 826
 </li>  <li> starter 825
 </li>  <li> engelsk 824
 </li>  <li> lukter 823
 </li>  <li> hel 823
 </li>  <li> innen 823
 </li>  <li> usa 822
 </li>  <li> ordentlig 821
 </li>  <li> forlate 821
 </li>  <li> hår 820
 </li>  <li> jim 819
 </li>  <li> bekymre 818
 </li>  <li> set 818
 </li>  <li> viste 817
 </li>  <li> verste 816
 </li>  <li> ordner 816
 </li>  <li> jentene 816
 </li>  <li> jævel 815
 </li>  <li> morges 814
 </li>  <li> måned 812
 </li>  <li> bok 811
 </li>  <li> slike 811
 </li>  <li> bordet 810
 </li>  <li> mangler 809
 </li>  <li> stemme 808
 </li>  <li> møtes 807
 </li>  <li> arbeidet 807
 </li>  <li> flyttet 807
 </li>  <li> martin 807
 </li>  <li> hvilke 806
 </li>  <li> området 806
 </li>  <li> vinduet 806
 </li>  <li> forandret 805
 </li>  <li> musikk 803
 </li>  <li> saker 803
 </li>  <li> jake 803
 </li>  <li> kontroll 802
 </li>  <li> stop 799
 </li>  <li> ven 798
 </li>  <li> seng 793
 </li>  <li> bevis 793
 </li>  <li> vennligst 792
 </li>  <li> vej 792
 </li>  <li> truffet 791
 </li>  <li> henry 791
 </li>  <li> glemmer 790
 </li>  <li> president 787
 </li>  <li> lest 786
 </li>  <li> thomas 786
 </li>  <li> vist 785
 </li>  <li> lyder 785
 </li>  <li> varmt 784
 </li>  <li> leser 784
 </li>  <li> takke 784
 </li>  <li> fortjener 782
 </li>  <li> te 780
 </li>  <li> stakk 779
 </li>  <li> skipet 778
 </li>  <li> elskling 777
 </li>  <li> vide 777
 </li>  <li> slått 776
 </li>  <li> nyheter 776
 </li>  <li> spist 775
 </li>  <li> ekstra 774
 </li>  <li> kjøper 774
 </li>  <li> al 774
 </li>  <li> spilte 773
 </li>  <li> merke 772
 </li>  <li> enhver 771
 </li>  <li> stol 770
 </li>  <li> naturligvis 769
 </li>  <li> st 769
 </li>  <li> eddie 769
 </li>  <li> sluttet 768
 </li>  <li> vakre 768
 </li>  <li> leke 767
 </li>  <li> mary 767
 </li>  <li> retten 767
 </li>  <li> festen 767
 </li>  <li> tjene 766
 </li>  <li> hjalp 766
 </li>  <li> frisk 766
 </li>  <li> taler 765
 </li>  <li> fange 764
 </li>  <li> bad 764
 </li>  <li> karer 764
 </li>  <li> dritten 763
 </li>  <li> fører 763
 </li>  <li> ringt 763
 </li>  <li> stykker 762
 </li>  <li> skip 762
 </li>  <li> følte 761
 </li>  <li> klær 760
 </li>  <li> besøk 760
 </li>  <li> bank 759
 </li>  <li> unger 759
 </li>  <li> bilder 759
 </li>  <li> mester 758
 </li>  <li> bildet 758
 </li>  <li> nick 757
 </li>  <li> o 756
 </li>  <li> will 756
 </li>  <li> ungene 754
 </li>  <li> slutter 753
 </li>  <li> ordet 753
 </li>  <li> bedt 753
 </li>  <li> maria 751
 </li>  <li> kjæreste 751
 </li>  <li> iblant 751
 </li>  <li> troede 751
 </li>  <li> ferdige 750
 </li>  <li> san 749
 </li>  <li> sker 749
 </li>  <li> såret 748
 </li>  <li> politi 748
 </li>  <li> amerikanske 747
 </li>  <li> faller 746
 </li>  <li> fanken 746
 </li>  <li> drømmer 745
 </li>  <li> p 745
 </li>  <li> type 744
 </li>  <li> fars 744
 </li>  <li> pleide 743
 </li>  <li> ren 743
 </li>  <li> slag 742
 </li>  <li> bry 742
 </li>  <li> sann 742
 </li>  <li> adjø 741
 </li>  <li> ikk 741
 </li>  <li> nervøs 740
 </li>  <li> bortsett 739
 </li>  <li> varm 739
 </li>  <li> forrige 738
 </li>  <li> nummeret 738
 </li>  <li> hvit 737
 </li>  <li> spis 736
 </li>  <li> kvitt 736
 </li>  <li> hjælpe 735
 </li>  <li> stopper 734
 </li>  <li> velge 734
 </li>  <li> gata 734
 </li>  <li> liksom 734
 </li>  <li> enten 733
 </li>  <li> selskap 732
 </li>  <li> kalte 731
 </li>  <li> forferdelig 731
 </li>  <li> taket 731
 </li>  <li> klærne 730
 </li>  <li> frokost 730
 </li>  <li> richard 730
 </li>  <li> taper 729
 </li>  <li> møter 729
 </li>  <li> mord 728
 </li>  <li> starte 727
 </li>  <li> kamerat 727
 </li>  <li> dypt 726
 </li>  <li> tegn 726
 </li>  <li> major 726
 </li>  <li> tull 725
 </li>  <li> bar 725
 </li>  <li> robert 725
 </li>  <li> uden 725
 </li>  <li> onde 724
 </li>  <li> hjælp 724
 </li>  <li> give 724
 </li>  <li> årene 722
 </li>  <li> le 720
 </li>  <li> gjore 719
 </li>  <li> kjempe 717
 </li>  <li> gutta 716
 </li>  <li> røde 715
 </li>  <li> forresten 714
 </li>  <li> trøbbel 713
 </li>  <li> dele 713
 </li>  <li> ende 713
 </li>  <li> tony 713
 </li>  <li> penge 712
 </li>  <li> mål 711
 </li>  <li> typen 711
 </li>  <li> alex 710
 </li>  <li> overraskelse 710
 </li>  <li> låne 710
 </li>  <li> slutten 709
 </li>  <li> is 709
 </li>  <li> tommy 709
 </li>  <li> menneskene 708
 </li>  <li> beina 707
 </li>  <li> deilig 707
 </li>  <li> sidste 705
 </li>  <li> hest 704
 </li>  <li> greia 702
 </li>  <li> virket 702
 </li>  <li> legen 701
 </li>  <li> angrep 701
 </li>  <li> fryktelig 701
 </li>  <li> makt 701
 </li>  <li> trist 700
 </li>  <li> gav 700
 </li>  <li> spillet 700
 </li>  <li> hjernen 699
 </li>  <li> tilhører 698
 </li>  <li> lunsj 697
 </li>  <li> forsvinn 697
 </li>  <li> mark 697
 </li>  <li> dårlige 696
 </li>  <li> høy 696
 </li>  <li> lurt 695
 </li>  <li> hundre 693
 </li>  <li> bestemmer 692
 </li>  <li> sheriff 692
 </li>  <li> fbi 692
 </li>  <li> reis 691
 </li>  <li> fullt 691
 </li>  <li> gravid 691
 </li>  <li> mod 690
 </li>  <li> fungerer 689
 </li>  <li> koster 689
 </li>  <li> gratis 689
 </li>  <li> kaldt 687
 </li>  <li> hendes 687
 </li>  <li> fisk 685
 </li>  <li> fart 685
 </li>  <li> vidste 685
 </li>  <li> jeres 685
 </li>  <li> sverger 684
 </li>  <li> armen 683
 </li>  <li> hotellet 683
 </li>  <li> boken 683
 </li>  <li> gik 683
 </li>  <li> møtte 682
 </li>  <li> elskede 681
 </li>  <li> løytnant 680
 </li>  <li> styrke 680
 </li>  <li> presidenten 680
 </li>  <li> chris 677
 </li>  <li> ansikt 676
 </li>  <li> høyere 676
 </li>  <li> vin 675
 </li>  <li> kall 675
 </li>  <li> sikre 674
 </li>  <li> kirken 674
 </li>  <li> bobby 673
 </li>  <li> inntil 672
 </li>  <li> nøkkelen 671
 </li>  <li> altfor 671
 </li>  <li> sersjant 671
 </li>  <li> rent 670
 </li>  <li> forsvant 670
 </li>  <li> stjålet 670
 </li>  <li> derfra 670
 </li>  <li> innom 669
 </li>  <li> andet 669
 </li>  <li> stand 666
 </li>  <li> betjent 666
 </li>  <li> valgte 665
 </li>  <li> omtrent 665
 </li>  <li> street 664
 </li>  <li> havet 663
 </li>  <li> bedste 663
 </li>  <li> begynt 659
 </li>  <li> glass 659
 </li>  <li> toppen 658
 </li>  <li> nøyaktig 657
 </li>  <li> flyr 655
 </li>  <li> krever 654
 </li>  <li> svare 654
 </li>  <li> nærheten 654
 </li>  <li> ogsa 653
 </li>  <li> bakken 652
 </li>  <li> startet 652
 </li>  <li> våkne 652
 </li>  <li> and 652
 </li>  <li> direkte 651
 </li>  <li> guttene 651
 </li>  <li> ringen 650
 </li>  <li> trenge 649
 </li>  <li> blåser 649
 </li>  <li> sarah 649
 </li>  <li> kontor 648
 </li>  <li> red 648
 </li>  <li> bevise 646
 </li>  <li> sånne 646
 </li>  <li> brenner 645
 </li>  <li> håp 645
 </li>  <li> sees 645
 </li>  <li> dommer 644
 </li>  <li> minst 644
 </li>  <li> k 644
 </li>  <li> jævlig 643
 </li>  <li> ansvar 641
 </li>  <li> unnskyldning 639
 </li>  <li> gleder 639
 </li>  <li> minner 638
 </li>  <li> ungen 638
 </li>  <li> flaks 638
 </li>  <li> blevet 638
 </li>  <li> start 637
 </li>  <li> trekke 637
 </li>  <li> leste 637
 </li>  <li> giftet 636
 </li>  <li> beholde 635
 </li>  <li> vill 635
 </li>  <li> pleier 634
 </li>  <li> million 634
 </li>  <li> vilje 634
 </li>  <li> herlig 633
 </li>  <li> lovet 633
 </li>  <li> likt 630
 </li>  <li> utmerket 630
 </li>  <li> gale 629
 </li>  <li> loven 629
 </li>  <li> rød 628
 </li>  <li> prater 628
 </li>  <li> hore 628
 </li>  <li> fortælle 628
 </li>  <li> lort 626
 </li>  <li> skriv 625
 </li>  <li> løpe 625
 </li>  <li> ler 625
 </li>  <li> nødvendig 625
 </li>  <li> arbejde 625
 </li>  <li> trygg 624
 </li>  <li> munn 621
 </li>  <li> føre 621
 </li>  <li> no 620
 </li>  <li> kapteinen 620
 </li>  <li> dessuten 620
 </li>  <li> rører 620
 </li>  <li> hæren 619
 </li>  <li> england 619
 </li>  <li> åpner 619
 </li>  <li> bestemor 619
 </li>  <li> form 618
 </li>  <li> evig 618
 </li>  <li> sjekket 618
 </li>  <li> støtte 617
 </li>  <li> aiie 617
 </li>  <li> soldater 617
 </li>  <li> kysse 616
 </li>  <li> spennende 616
 </li>  <li> håpet 616
 </li>  <li> morder 616
 </li>  <li> hemmelig 616
 </li>  <li> poenget 616
 </li>  <li> gulvet 615
 </li>  <li> spiste 615
 </li>  <li> kjenne 614
 </li>  <li> viiie 614
 </li>  <li> løper 614
 </li>  <li> trekker 613
 </li>  <li> stengt 613
 </li>  <li> forlot 612
 </li>  <li> arrestert 612
 </li>  <li> vakt 611
 </li>  <li> bråk 610
 </li>  <li> washington 609
 </li>  <li> anna 609
 </li>  <li> overleve 608
 </li>  <li> gull 608
 </li>  <li> william 607
 </li>  <li> ender 605
 </li>  <li> giver 605
 </li>  <li> året 604
 </li>  <li> skyldig 603
 </li>  <li> danser 603
 </li>  <li> normalt 603
 </li>  <li> km 602
 </li>  <li> ulykke 602
 </li>  <li> søsteren 602
 </li>  <li> forandre 602
 </li>  <li> do 602
 </li>  <li> rene 601
 </li>  <li> fader 601
 </li>  <li> bussen 600
 </li>  <li> pike 599
 </li>  <li> natta 599
 </li>  <li> big 599
 </li>  <li> glipp 599
 </li>  <li> eksempel 596
 </li>  <li> skudd 596
 </li>  <li> bodde 595
 </li>  <li> hils 594
 </li>  <li> hesten 593
 </li>  <li> flytter 593
 </li>  <li> selvmord 591
 </li>  <li> ødelegger 591
 </li>  <li> følelser 591
 </li>  <li> knapt 591
 </li>  <li> kjøpt 590
 </li>  <li> skole 589
 </li>  <li> nekter 589
 </li>  <li> soldat 589
 </li>  <li> trygt 589
 </li>  <li> jane 588
 </li>  <li> stoppet 587
 </li>  <li> stein 587
 </li>  <li> folket 587
 </li>  <li> damen 586
 </li>  <li> javel 586
 </li>  <li> rose 585
 </li>  <li> mora 585
 </li>  <li> ar 584
 </li>  <li> hendte 583
 </li>  <li> sko 582
 </li>  <li> hoppe 582
 </li>  <li> endnu 582
 </li>  <li> farten 581
 </li>  <li> dans 581
 </li>  <li> sikkerhet 581
 </li>  <li> musikken 581
 </li>  <li> pige 581
 </li>  <li> tida 580
 </li>  <li> ait 580
 </li>  <li> fy 580
 </li>  <li> bestefar 580
 </li>  <li> svaret 580
 </li>  <li> fikse 579
 </li>  <li> topp 578
 </li>  <li> dama 578
 </li>  <li> sur 578
 </li>  <li> rik 577
 </li>  <li> rike 576
 </li>  <li> dratt 576
 </li>  <li> hull 575
 </li>  <li> morsom 575
 </li>  <li> bruge 574
 </li>  <li> kalles 573
 </li>  <li> roger 573
 </li>  <li> mexico 572
 </li>  <li> sengen 571
 </li>  <li> stiller 571
 </li>  <li> nærmer 571
 </li>  <li> atjeg 571
 </li>  <li> nr 571
 </li>  <li> meningen 570
 </li>  <li> treffer 570
 </li>  <li> minutt 570
 </li>  <li> ihjel 570
 </li>  <li> scenen 569
 </li>  <li> sjel 569
 </li>  <li> hvile 569
 </li>  <li> scott 569
 </li>  <li> måde 569
 </li>  <li> arbeider 568
 </li>  <li> butikken 568
 </li>  <li> amerikansk 568
 </li>  <li> målet 567
 </li>  <li> syv 567
 </li>  <li> luft 567
 </li>  <li> magen 567
 </li>  <li> varme 565
 </li>  <li> slett 565
 </li>  <li> biler 565
 </li>  <li> tør 564
 </li>  <li> lete 564
 </li>  <li> reglene 563
 </li>  <li> sen 563
 </li>  <li> smerte 563
 </li>  <li> sjekker 562
 </li>  <li> bii 560
 </li>  <li> frykt 560
 </li>  <li> løgn 560
 </li>  <li> stykke 560
 </li>  <li> ondt 559
 </li>  <li> eldre 559
 </li>  <li> hellige 559
 </li>  <li> overfor 557
 </li>  <li> stjele 557
 </li>  <li> folkene 557
 </li>  <li> kar 557
 </li>  <li> regnet 556
 </li>  <li> ked 556
 </li>  <li> tanken 555
 </li>  <li> bytte 554
 </li>  <li> bære 554
 </li>  <li> orker 554
 </li>  <li> bud 553
 </li>  <li> leker 553
 </li>  <li> forlater 552
 </li>  <li> dekk 552
 </li>  <li> lette 551
 </li>  <li> velger 550
 </li>  <li> jorda 550
 </li>  <li> spørsmålet 549
 </li>  <li> inni 549
 </li>  <li> biir 549
 </li>  <li> sakene 548
 </li>  <li> leiligheten 548
 </li>  <li> båt 547
 </li>  <li> skogen 547
 </li>  <li> ettermiddag 547
 </li>  <li> oppdaget 546
 </li>  <li> bygge 546
 </li>  <li> veggen 545
 </li>  <li> ferie 545
 </li>  <li> partner 545
 </li>  <li> you 545
 </li>  <li> ordnet 544
 </li>  <li> løy 544
 </li>  <li> ild 544
 </li>  <li> smil 543
 </li>  <li> teller 543
 </li>  <li> lave 543
 </li>  <li> hendt 542
 </li>  <li> blomster 542
 </li>  <li> fornøyd 542
 </li>  <li> kate 542
 </li>  <li> forretninger 541
 </li>  <li> rigtig 541
 </li>  <li> love 540
 </li>  <li> tilfelle 540
 </li>  <li> sykehus 540
 </li>  <li> kalt 539
 </li>  <li> dan 539
 </li>  <li> lure 538
 </li>  <li> pust 538
 </li>  <li> les 538
 </li>  <li> systemet 538
 </li>  <li> samlet 537
 </li>  <li> henger 537
 </li>  <li> unngå 536
 </li>  <li> city 536
 </li>  <li> pakke 536
 </li>  <li> jord 536
 </li>  <li> fullstendig 536
 </li>  <li> nemlig 535
 </li>  <li> ballen 534
 </li>  <li> valgt 534
 </li>  <li> charles 534
 </li>  <li> banken 534
 </li>  <li> skete 534
 </li>  <li> røre 533
 </li>  <li> åpen 533
 </li>  <li> drit 532
 </li>  <li> jones 532
 </li>  <li> bildene 532
 </li>  <li> doc 532
 </li>  <li> næste 532
 </li>  <li> vanlige 531
 </li>  <li> fikser 531
 </li>  <li> alice 531
 </li>  <li> lisa 531
 </li>  <li> planer 530
 </li>  <li> lee 530
 </li>  <li> carl 530
 </li>  <li> chicago 529
 </li>  <li> begynnelsen 528
 </li>  <li> kevin 528
 </li>  <li> hedder 528
 </li>  <li> forsøk 527
 </li>  <li> foreldre 527
 </li>  <li> uskyldig 526
 </li>  <li> steve 526
 </li>  <li> tante 525
 </li>  <li> grunnen 525
 </li>  <li> alder 524
 </li>  <li> møttes 524
 </li>  <li> c 524
 </li>  <li> fatter 523
 </li>  <li> nåde 523
 </li>  <li> verken 523
 </li>  <li> våpenet 523
 </li>  <li> morgenen 522
 </li>  <li> fredag 522
 </li>  <li> åpnet 522
 </li>  <li> radioen 522
 </li>  <li> bond 522
 </li>  <li> halsen 521
 </li>  <li> strålende 521
 </li>  <li> brødre 521
 </li>  <li> nøklene 521
 </li>  <li> titt 520
 </li>  <li> lettere 519
 </li>  <li> røyk 519
 </li>  <li> andy 519
 </li>  <li> fulle 518
 </li>  <li> halvt 518
 </li>  <li> purk 517
 </li>  <li> fulgte 516
 </li>  <li> synger 516
 </li>  <li> spesiell 516
 </li>  <li> bygningen 516
 </li>  <li> tolv 515
 </li>  <li> brevet 514
 </li>  <li> poeng 514
 </li>  <li> hank 514
 </li>  <li> betyder 514
 </li>  <li> skru 512
 </li>  <li> besøke 511
 </li>  <li> igjennom 511
 </li>  <li> blodet 510
 </li>  <li> informasjon 510
 </li>  <li> senga 510
 </li>  <li> oh 510
 </li>  <li> liket 509
 </li>  <li> tanker 509
 </li>  <li> kjøkkenet 509
 </li>  <li> plager 508
 </li>  <li> længe 508
 </li>  <li> øya 507
 </li>  <li> fienden 507
 </li>  <li> enige 507
 </li>  <li> politimann 507
 </li>  <li> bange 507
 </li>  <li> minne 506
 </li>  <li> drikk 506
 </li>  <li> fransk 506
 </li>  <li> kurs 505
 </li>  <li> pause 504
 </li>  <li> myrdet 504
 </li>  <li> forsvinner 503
 </li>  <li> slem 503
 </li>  <li> skam 503
 </li>  <li> blind 503
 </li>  <li> walter 503
 </li>  <li> jerry 503
 </li>  <li> ødela 502
 </li>  <li> overrasket 502
 </li>  <li> presentere 500
 </li>  <li> oppdrag 500
 </li>  <li> lyve 500
 </li>  <li> frihet 500
 </li>  <li> lagde 500
 </li>  <li> banen 500
 </li>  <li> daniel 500
 </li>  <li> søn 500
 </li>  <li> prisen 499
 </li>  <li> neppe 499
 </li>  <li> kraft 499
 </li>  <li> california 499
 </li>  <li> dust 499
 </li>  <li> knulle 499
 </li>  <li> iallfall 498
 </li>  <li> bærer 498
 </li>  <li> drap 498
 </li>  <li> leilighet 498
 </li>  <li> løgner 497
 </li>  <li> solen 496
 </li>  <li> situasjonen 496
 </li>  <li> hilse 496
 </li>  <li> stil 496
 </li>  <li> kilo 496
 </li>  <li> tøff 495
 </li>  <li> van 495
 </li>  <li> kødder 495
 </li>  <li> pis 495
 </li>  <li> kald 494
 </li>  <li> jason 493
 </li>  <li> gange 493
 </li>  <li> verst 491
 </li>  <li> betalte 491
 </li>  <li> lufta 491
 </li>  <li> of 491
 </li>  <li> bringer 490
 </li>  <li> søtt 490
 </li>  <li> visse 490
 </li>  <li> ri 489
 </li>  <li> lovte 489
 </li>  <li> arthur 489
 </li>  <li> nord 489
 </li>  <li> sexy 489
 </li>  <li> knust 488
 </li>  <li> rask 487
 </li>  <li> eiier 487
 </li>  <li> boka 487
 </li>  <li> ä 487
 </li>  <li> fandt 487
 </li>  <li> kle 486
 </li>  <li> løse 486
 </li>  <li> behold 486
 </li>  <li> dukker 486
 </li>  <li> klasse 485
 </li>  <li> glade 485
 </li>  <li> helvetes 485
 </li>  <li> solgte 484
 </li>  <li> stemmen 484
 </li>  <li> larry 484
 </li>  <li> ude 484
 </li>  <li> kke 483
 </li>  <li> savne 482
 </li>  <li> arbeide 482
 </li>  <li> solgt 482
 </li>  <li> spøk 481
 </li>  <li> skader 481
 </li>  <li> hær 480
 </li>  <li> svarer 480
 </li>  <li> driter 480
 </li>  <li> søvn 479
 </li>  <li> halvparten 479
 </li>  <li> kjærligheten 478
 </li>  <li> passet 477
 </li>  <li> vidunderlig 477
 </li>  <li> avtalen 477
 </li>  <li> lange 477
 </li>  <li> tross 476
 </li>  <li> virke 476
 </li>  <li> lørdag 476
 </li>  <li> los 476
 </li>  <li> fået 476
 </li>  <li> søker 475
 </li>  <li> hemmelighet 475
 </li>  <li> kong 474
 </li>  <li> etasje 474
 </li>  <li> lade 474
 </li>  <li> børn 474
 </li>  <li> diskutere 473
 </li>  <li> puste 473
 </li>  <li> ide 473
 </li>  <li> skjebne 473
 </li>  <li> takket 473
 </li>  <li> fuck 473
 </li>  <li> regner 472
 </li>  <li> bein 472
 </li>  <li> sørg 471
 </li>  <li> ligesom 471
 </li>  <li> ifra 470
 </li>  <li> rekker 470
 </li>  <li> alan 470
 </li>  <li> fordømte 470
 </li>  <li> texas 470
 </li>  <li> turen 469
 </li>  <li> fremtiden 469
 </li>  <li> oppfattet 469
 </li>  <li> voksen 468
 </li>  <li> prat 467
 </li>  <li> bety 467
 </li>  <li> star 467
 </li>  <li> styre 466
 </li>  <li> ed 465
 </li>  <li> baren 465
 </li>  <li> kule 464
 </li>  <li> college 464
 </li>  <li> rosa 464
 </li>  <li> tvil 464
 </li>  <li> sørge 463
 </li>  <li> kjørt 463
 </li>  <li> stanse 463
 </li>  <li> stinker 462
 </li>  <li> greie 462
 </li>  <li> hopper 462
 </li>  <li> tenner 462
 </li>  <li> gråt 461
 </li>  <li> nyt 461
 </li>  <li> kopp 460
 </li>  <li> hjørnet 460
 </li>  <li> søte 459
 </li>  <li> øyeblikket 459
 </li>  <li> flyplassen 459
 </li>  <li> simon 459
 </li>  <li> bøker 458
 </li>  <li> okei 458
 </li>  <li> lede 457
 </li>  <li> beinet 457
 </li>  <li> egg 457
 </li>  <li> pä 457
 </li>  <li> hånda 456
 </li>  <li> skaff 455
 </li>  <li> kameraet 455
 </li>  <li> mørkt 454
 </li>  <li> majestet 454
 </li>  <li> eg 454
 </li>  <li> vitne 453
 </li>  <li> regler 453
 </li>  <li> samtidig 453
 </li>  <li> bryter 453
 </li>  <li> øjeblik 453
 </li>  <li> planlagt 452
 </li>  <li> luften 452
 </li>  <li> fanger 452
 </li>  <li> våpnene 452
 </li>  <li> merket 451
 </li>  <li> flotte 451
 </li>  <li> mandag 451
 </li>  <li> kødd 450
 </li>  <li> travelt 449
 </li>  <li> hard 448
 </li>  <li> vunnet 448
 </li>  <li> overlever 448
 </li>  <li> drive 448
 </li>  <li> latterlig 448
 </li>  <li> finder 448
 </li>  <li> rekke 447
 </li>  <li> pete 447
 </li>  <li> ryan 447
 </li>  <li> annie 447
 </li>  <li> gjett 446
 </li>  <li> privat 446
 </li>  <li> mørket 446
 </li>  <li> løpet 445
 </li>  <li> bie 445
 </li>  <li> tja 444
 </li>  <li> øg 444
 </li>  <li> sparken 443
 </li>  <li> hatten 443
 </li>  <li> reist 443
 </li>  <li> europa 443
 </li>  <li> kjedelig 443
 </li>  <li> publikum 442
 </li>  <li> trøtt 442
 </li>  <li> personer 442
 </li>  <li> låst 442
 </li>  <li> tapt 442
 </li>  <li> don 442
 </li>  <li> per 442
 </li>  <li> uka 442
 </li>  <li> lengre 442
 </li>  <li> brian 442
 </li>  <li> ensom 441
 </li>  <li> helvede 441
 </li>  <li> tydeligvis 440
 </li>  <li> kjøtt 440
 </li>  <li> toalettet 440
 </li>  <li> mors 440
 </li>  <li> begynn 439
 </li>  <li> smak 439
 </li>  <li> whisky 439
 </li>  <li> show 438
 </li>  <li> oppdraget 438
 </li>  <li> banker 437
 </li>  <li> gjøres 437
 </li>  <li> grei 437
 </li>  <li> hevn 437
 </li>  <li> fortere 436
 </li>  <li> fremmede 435
 </li>  <li> wilson 435
 </li>  <li> kjemper 435
 </li>  <li> karen 435
 </li>  <li> dronning 434
 </li>  <li> hotell 434
 </li>  <li> søndag 434
 </li>  <li> skapt 433
 </li>  <li> bryllupet 432
 </li>  <li> fjerne 432
 </li>  <li> gjeng 432
 </li>  <li> stolte 432
 </li>  <li> løfte 432
 </li>  <li> samle 431
 </li>  <li> gruppe 431
 </li>  <li> tidspunkt 431
 </li>  <li> maggie 431
 </li>  <li> kamera 431
 </li>  <li> virkelige 430
 </li>  <li> marcus 430
 </li>  <li> angrepet 429
 </li>  <li> hester 429
 </li>  <li> null 429
 </li>  <li> hestene 429
 </li>  <li> morderen 429
 </li>  <li> rar 429
 </li>  <li> tape 428
 </li>  <li> hode 428
 </li>  <li> modig 428
 </li>  <li> stod 428
 </li>  <li> iitt 428
 </li>  <li> stjerne 427
 </li>  <li> forventer 427
 </li>  <li> hentet 427
 </li>  <li> bombe 427
 </li>  <li> u 427
 </li>  <li> rumpa 427
 </li>  <li> ålreit 426
 </li>  <li> gjemme 426
 </li>  <li> lyden 425
 </li>  <li> brød 425
 </li>  <li> sprøtt 425
 </li>  <li> tosk 425
 </li>  <li> vanligvis 425
 </li>  <li> dreier 425
 </li>  <li> forvirret 425
 </li>  <li> varer 425
 </li>  <li> kysset 424
 </li>  <li> skremmer 424
 </li>  <li> rasshøl 424
 </li>  <li> mørke 423
 </li>  <li> badet 423
</ol>
</span>
